* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1f2937;
}
/* nav */
nav {
    display: flex;
    height: 50px;
    text-align: center;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex: 2;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-left: 30px;
}
nav ul li a{
    color: #F9FAF8;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
/* section */
section {
    display: flex;
    height: 350px;
    background-color: #1f2937;
}
/* left side of the section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    width: 400px;
    height: 200px;
}

p.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

p.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 7px 0px;
}

.first-button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 5px solid #3882F6;
    border-radius: 10px;
    padding: 7px 15px;
    margin-top: 10px;
}
/* right side of the section */
.place-holder {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-image {
    width: 400px;
    height: auto;
}
/* Some random information */
.random {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    height: 100px;
    color: #1f2937;
}

.multiple-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: 400px;
}

.info {
    margin-top: 40px;
    width: 250px;
    height: 300px;
}

.one {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.under-the-image {
    color: rgb(44, 44, 44);
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}