* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: auto;
}
header {
    background-color: #1f2937;
}
/* nav */
nav {
    display: flex;
    height: auto;
    text-align: center;
    padding: 20px;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul {
    display: flex;
    flex: 2;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li a{
    color: #F9FAF8;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}
/* section */
section {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: #1f2937;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-typing {
    margin: 50px;
    width: 350px;

}

p.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

p.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 7px 0px;
}

.first-button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 5px solid #3882F6;
    border-radius: 10px;
    padding: 7px 15px;
    margin-top: 10px;
}
/* right side of the section */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-finally {
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    /* max-width: 300px; */
    height: auto;
}
/* Some random information */
.random {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    /* height: auto; */
    margin: 20px 0px;
    color: #1f2937;
}
/* the images under the random information */
.multiple-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: auto;
    flex: 1;
}

.info {
    margin-top: 40px;
    width: 250px;
    height: 400px;
}

.one {
    width: 250px;
    border-radius: 10px;
}

.under-the-image {
    color: rgb(44, 44, 44);
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}
/* quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 30px;
    color: #1f2937;
    background-color: #E5E7EB;
    padding: 100px;
}

.author {
    text-align: right;
}
/* button section */
.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    height: auto;
}

.last-container {
    display: flex;
    height: auto;
    width: auto;
    background-color: #3882F6;
    border-radius: 20px;
}

.lefty {
    width: 66.6%;
    padding: 40px;
}

.lefty-text {
    color: #F9FAF8;
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}

.lefty-text-two {
    color: #F9FAF8;
    font-size: 25px;
    padding: 10px 10px 10px 0;
    margin-left: 10px;
}

.righty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    padding: 30px;
}

.right-text {
    font-size: 20px;
    color: #F9FAF8;
    border-radius: 5px;
    border: 1px solid #F9FAF8;
    padding: 10px;
    background-color: #3882F6;
}

footer {
    background-color: #1f2937;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 40px 0;
}
/* The End */
/* Total working time 6 hours , Regardless flex shrniking problems which isn't fixed yet */
/* Congrats! Flex problem fixed in all the site within 1 hour */
/* Total Working Time 7 hours */
/* p.s : I am not required to make the project looks nice on the mobile  */